<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.weixin.mapper.CustomerMapper">

    <select id="getCustomerById" parameterType="java.lang.Integer" resultType="com.weixin.entity.Customer">
        SELECT * FROM customer WHERE customer.cid = #{getCustomerById, jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.weixin.entity.Customer" useGeneratedKeys="true" keyProperty="cid">
        INSERT INTO customer(
          cname,
          age,
          address,
          birthday
        ) VALUES (
              #{cname, jdbcType=VARCHAR},
              #{age, jdbcType=INTEGER},
              #{address, jdbcType=VARCHAR},
              #{birthday, jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.weixin.entity.Customer">
        UPDATE customer
        SET
            cname = #{cname, jdbcType=VARCHAR},
            age = #{age, jdbcType=INTEGER},
            address = #{address, jdbcType=VARCHAR},
            birthday = #{birthday, jdbcType=TIMESTAMP}
        WHERE cid = #{cid , jdbcType=INTEGER}
    </update>

    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO customer(
          cname,
          age,
          address,
          birthday
        ) VALUES (
          <foreach collection="list" item="dataList" separator="),(">
              #{dataList.cname, jdbcType=VARCHAR},
              #{dataList.age, jdbcType=INTEGER},
              #{dataList.address, jdbcType=VARCHAR},
              #{dataList.birthday, jdbcType=TIMESTAMP}
          </foreach>
        )
    </insert>

    <select id="getCustomerList" resultType="com.weixin.entity.Customer">
        SELECT * FROM customer
    </select>

    <select id="testMapString" parameterType="map" resultType="com.weixin.entity.Customer">
        SELECT * FROM customer
        <where>
          <if test="null != cid and '' != cid">AND cid = #{cid, jdbcType=INTEGER}</if>
          <if test="null != cname and '' != cname">AND cname = #{cname, jdbcType=VARCHAR}</if>
          <if test="null != age and '' != age">AND age = #{age, jdbcType=INTEGER}</if>
          <if test="null != address and '' != address">AND address = #{address, jdbcType=VARCHAR}</if>
          <if test="null != birthday and '' != birthday">AND birthday = #{birthday, jdbcType=TIMESTAMP}</if>
        </where>
    </select>

</mapper>